@import url('http://fonts.cdnfonts.com/css/baloo-tammudu');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url("./Artes/ArteFundo.png");
    background-size: contain;
    font-family: BM-HANNA, sans-serif;
    background-repeat: no-repeat;
}

.titulo {
    margin-bottom: 10px;
    color: #6C11FF;
}

.botao {
    display: inline-block;
    background-color: #6C11FF;
    line-height: 0; 
    padding: 25px 20px 20px 20px; 
    border: 0.5px solid #6C11FF;
    box-shadow: 7px 7px 11px rgba(108, 17, 255, 0.25);
    -webkit-text-stroke: 0.5 black;
    border-radius: 5px;
    font-family: 'Baloo Tammudu', sans-serif;
    text-align: center;
    text-decoration: none;
    color: white;
    transition: background-color 200ms;
}

.userIcon {
    width: 108px;
}

.botao:hover {  
    background-color: rgba(108, 17, 255, 0.85);
    border-color: #6200ff;
} 


.textoMotivador {
    color: white;
    font-family: mulish;
    font-size: 20px;
    text-align: center;
}

.bibliografia{
    width: 80%; 
    margin: 50px auto;
    display: flex;
}

.bibliografia .perfilDeUsuario {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* .bibliografia .perfilDeUsuario img{
    
} */

.bibliografia .perfilDeUsuario a {
    width: 190px;   
}

.bibliografia .textoBibliografico {
    width: 80%;
    margin: 25px; 
}

.bibliografia .textoBibliografico p{
    font-family: Calibri;
    font-weight: bold;
    text-align: center;
    
}

.Assuntos {
    width: 80%;
    margin: auto;
}

.Assuntos h1{
    font-size: 47px;
    text-align: center;
    margin: 35px auto;
    margin-top: 200px;
}

.Assuntos .Cards {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    
}
.Assuntos .Cards .Card {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 5px;
    margin-top: 16px;
    justify-content: space-around;
    width: 240px;
    height: 300px;
    padding: 10px;
    font-family: 'Baloo Tammudu', sans-serif;
    background: rgba(141, 74, 250, 0.8);
    box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
    transform: scale(0.9);
    transition: transform 250ms;
}

.Assuntos .Cards .Card:hover {
    transform: scale(1);
}

.Assuntos .Cards .Card img{
    filter: drop-shadow(6px 4px 2px rgba(0, 0, 0, 0.25));
}

.Assuntos .Cards .Card span{
    font-size: 20px;
    text-align: center;
    color: white;
    line-height: 30px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    
}

.Assuntos .Cards .Card a {
    text-decoration: none;
    font-size: 28px;
    color: white;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.avaliacoes{
    width: 75%;
    margin: 5% auto;
    background-color: rgba(149, 85, 252, 0.95);
    border-radius: 20px;
}

.avaliacoes .comentario{
    width: 91%;
}

.avaliacoes .comentario .info{
    margin: 2%;
    width: 100%;
}

.avaliacoes .comentario .info .containerOut{
    display: flex;
    width: 100%;
}

.avaliacoes .comentario .info .containerOut .containerIn{
    display: flex;
    flex-direction: column;
    margin-left: 1%;
    width: 100%;
}


.avaliacoes .comentario .info .containerOut .containerIn h1{
    margin-top: 3%; 
    color: white;
    font-family: Arial;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 34px;
    -webkit-text-stroke-color: black;
    -webkit-text-stroke-width: 0.5px;
    text-shadow: 5px 4px 7px rgba(0, 0, 0, 0.25);
}

.avaliacoes .comentario .info .containerOut .containerIn p{
    background: white;
    border-radius: 5px;
    font-family: Arial;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    padding: 1%;
    width: 100%;
    color: black;
    margin-top: 2%;
    
}



.avaliacoes .comentario .RespostaBotao{
    display: flex;
    margin: 2%;
    font-family: Arial;
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    line-height: 17px;
    text-align: center;
    color: #FFFFFF;
    -webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color: black;
    text-shadow: 5px 4px 7px rgba(0, 0, 0, 0.25);
}

.avaliacoes .comentario .RespostaBotao img{
    margin-left: 0.8%;
}

